<nav aria-label="breadcrumb">
  <ol class="breadcrumb primary-background border-top border-bottom rounded-0">
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">Videos</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">People</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">Document</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">Events</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">Communities</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">Favorites</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-white mx-md-3">Channels</a></li>
  </ol>
</nav>
