<footer class="pb-4">
  <div class="container border-top mt-5">
    <div class="mt-3">
       <a href=""> <i class="fab fa-twitter-square icon"></i></a>
       <a href=""> <i class="fab fa-linkedin ml-3 icon"></i> </a>
       <a href=""> <i class="fab fa-facebook-square icon ml-3"></i></a>
    </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb primary-background mt-2 rounded-0">
                <li class="breadcrumb-item "><a href="#" class="text-white">Videos</a></li>
                <li class="breadcrumb-item "><a href="#" class="text-white mx-3">People</a></li>
                <li class="breadcrumb-item "><a href="#" class="text-white mx-3">Document</a></li>

                <li class="breadcrumb-item "><a href="#" class="text-white mx-3">Events</a></li>

                <li class="breadcrumb-item "><a href="#" class="text-white mx-3">Communities</a></li>
                <li class="breadcrumb-item "><a href="#" class="text-white mx-3">Favorites</a></li>
                <li class="breadcrumb-item "><a href="#" class="text-white mx-3">Channels</a></li>

            </ol>
        </nav>
    <p>© Copyright 2013 Companyname inc.</p>
    <p>Privacy / Terms</p>
  </div>
  </footer>
