<nav class="navbar navbar-expand-lg navbar-dark text-white">
  <a class="navbar-brand font-weight-bold" href="#">Social <span class="font-weight-light">
          Network</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <form class=" my-2 my-lg-0">
              <div class="input-group mt-1">
                  <input
                  class="form-control  nav-form secondary-background primary-background-text  p-2 font-weight-bold ml-md-5"
                  type="search" placeholder="Find.." aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn  secondary-background rounded search primary-background-text" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                  </div>
                </div>

          </form>

          <button class="btn secondary-background primary-background-text ml-md-3 font-weight-bold my-2 my-sm-0"
              type="submit nav-upload"> <i class="fa fa-upload nav-upload"></i> Upload</button>

          <li class="nav-item ml-md-3">
              <div class="d-flex justify-content-md-between">
                  <i class="fa fa-user mt-auto mb-auto icon-nav secondary-background p-3 rounded primary-background-text"></i>
                  <div class="ml-2 mt-auto mb-auto">
                      <h5 class="mb-0 pb-0">Waseem <span class="d-unset d-md-none"> Arshad</span></h5>
                      <small class="d-none d-md-block">Arshad</small>
                  </div>
              </div>
          </li>
      </ul>

  </div>
</nav>
