<div class="d-flex justify-content-between">
  <h3>Videos</h3>
  <a href="#" class="mr-5">Browse All Videos</a>
</div>
<div class="row">
    <div class="col-md-8">
      <div class="div-template-big position-relative">
        <img src="{{image}}" style="position: absolute; top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: contain;">
          <div class="position-absolute bottom-0 primary-background-text">
              <h4 class="  font-weight-bold mb-0 m-2">How to improve your skill</h4>
              <h5 class="mt-0 m-2">Waleed Arshad</h5>
          </div>
          <p class="position-absolute bottom-0 primary-background-text mb-2 mr-2 right-0" >231.132.123 Views</p>
      </div>
      <div class="row mt-3">
          <div class="col-md-6 mb-2" *ngFor="let datas of data">
              <div class="div-template-small  position-relative primary-background-text">
                <img src="{{datas.download_url}}" style="position: absolute; top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: contain;">
                  <p class="font-weight-bold  position-absolute bottom-0  p-2">John Stanlor</p>
                  <p class="position-absolute bottom-0 right-0 p-2">2013 Views</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 mt-4 mt-md-0 p-md-0 ">
      <div class=" mb-2 div-template-small  position-relative primary-background-text" *ngFor="let datas of data">
        <img src="{{datas.download_url}}" style="position: absolute; top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;">
          <p class="font-weight-bold  position-absolute bottom-0  p-2">Michael Keliph</p>
          <p class="position-absolute bottom-0 right-0 p-2">12123 Views</p>
      </div>
      <form>
            <input type="file" class=" d-none" id="UploadVideo">
            <label class="w-100" for="UploadVideo">
            <div class="secondary-border-outline div-template-small mt-3 d-flex upload">
              <i class="fa fa-plus-circle icon-small mt-auto mb-auto ml-4"></i> <h5 class="m-auto ml-0">Upload <br> Your Own Video</h5>
            </div>
            </label>
    </form>
  </div>
</div>
