<div class="d-flex justify-content-between">
  <h3>Document</h3>
  <a href="#" class="mr-5">Browse All Document</a>
</div>
<div class="row">
  <div class="col-md-8">
      <div class="secondary-background div-template-big position-relative">
          <div class="position-absolute bottom-0 primary-background-text">
              <h4 class="  font-weight-bold mb-0 m-2">Mobile ui & ux guide 2013</h4>
              <h5 class="mt-0 m-2">By William Mahkreja</h5>
          </div>
          <p class="position-absolute bottom-0 primary-background-text mb-2 mr-2 right-0" >231.132.123 Views</p>
      </div>
      <div class="row mt-3">
          <div class="col-md-6" *ngFor="let datas of data">
              <div class=" div-template-small  position-relative primary-background-text" >
                <img src="{{datas.download_url}}" style="position: absolute; top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: contain;">
                  <div class="position-absolute bottom-0 primary-background-text">
                      <p class="  font-weight-bold mb-0 m-2">2013 Marketing Friend</p>
                      <p class="mt-0 m-2">123123 Views</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 mt-4 mt-md-0 p-md-0">
      <div class=" mb-2 div-template-small  position-relative primary-background-text" *ngFor="let datas of data">
        <img src="{{datas.download_url}}" style="position: absolute; top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;">
          <div class="position-absolute bottom-0 primary-background-text">
              <p class=" font-weight-bold mb-0 m-2">HTML 5 And Usage</p>
              <p class="mt-0 m-2">311233 Views</p>
          </div>
      </div>
      <form>
          <input type="file" class=" d-none" id="DocumentUpload">
      <label class="w-100" for="DocumentUpload">
      <div class="secondary-border-outline div-template-small mt-3 d-flex upload">
          <div></div>
         <i class="fa fa-plus-circle icon-small m-auto"></i> <h5 class="mt-auto  mr-auto   mb-auto ml-0">Share <br> Your Document</h5>
      </div>
      </label>
      </form>
  </div>
</div>
