<section>
  <div class="container">
      <app-header></app-header>
      <!-- BREADRUMB NAV -->
      <app-breadcrumb></app-breadcrumb>
      <div class="row">
          <!-- VIDEOS -->
            <div class="col-md-8">
              <app-videos></app-videos>
            </div>
          <!-- VIDEOS END -->
          <!-- ACTIVITY -->
          <div class="col-md-4">
              <app-activity></app-activity>
          </div>
           <!-- ACTIVITY END -->
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <!-- PEOPLE SECTION -->
              <app-people></app-people>
              <!-- PEOPLE SECTION END -->
              <!-- DOCUMENT SECTION -->
              <app-document></app-document>
               <!-- DOCUMENT SECTION END -->
          </div>
          <div class="col-md-4">
              <app-channels></app-channels>
          </div>
      </div>
  </div>
</section>
<!-- Footer -->
<app-footer></app-footer>
